:root {
    --primary-color: #007bff;
    --light-background: #f1f1f1;
    --text-color: #333333;
    --link-hover-color: #428bca;
    --border-color: #e3e3e3;
    --shadow-color: rgba(0,0,0,0.1);
  }
  
  body {
    background-color: #f8f9fa;
    color: var(--text-color);
    margin-top: 5rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
  }
  
  .bg-steel { background-color: #394b59; }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-brand, .site-header .navbar-nav .nav-link:hover, .site-header .navbar-nav .nav-link.active {
    color: #ffffff;
  }
  
  .site-header .btn-navbar-search {
    color: #ffffff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
  
  .site-header .btn-navbar-search:hover {
    background-color: #198754;
    border-color: #198754;
  }
  
  .content-section, .api-key-info, .modal-body, fieldset {
    background: #ffffff;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin: 30px 60px;
    box-shadow: 0 0 15px var(--shadow-color);
  }
  
  .article-title, .article-content, .form-group legend, .btn-outline-info, .modal-content {
    color: var(--primary-color);
  }
  
  a.article-title:hover, .btn-outline-info:hover {
    color: var(--link-hover-color);
    text-decoration: none;
  }
  
  .article-img, .account-img, code {
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 4px var(--shadow-color);
  }
  
  .modal-header, .modal-footer {
    border: none;
  }
  
  .form-control-label i {
    margin-left: 8px;
    color: #606060;
  }
  
  @media (max-width: 768px) {
    .account-heading, .media-body h2 {
      font-size: 2rem;
    }
  
    .content-section {
      padding: 25px;
      margin: 30px 20px; /* Adjust margins for smaller screens */
    }
  
    .media-body {
      text-align: center;
    }
  }  