<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>Fitness and Nutrition - {{ title }}</title>
    {% else %}
    <title>Fitness and Nutrition</title>
    {% endif %}
    {{ pagedown.html_head() }}
    {{ ckeditor.load() }}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!-- Horizontal Navbar -->
    <header class="site-header">
        <nav class="navbar navbar-expand-lg bg-steel fixed-top">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{ url_for('main.home')}}">{{ site_name }}</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('main.home')}}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.about')}}">About</a>
                  </li>
                  <!-- Other menu items -->
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success btn-navbar-search" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
    </header>

    <!-- Main Layout with Sidebar -->
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" style="margin-top: 56px;">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        {% if current_user.is_authenticated and current_user.role.name == 'Admin' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin_bp.admin_dashboard') }}">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin_bp.manage_users') }}">Manage Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin_bp.manage_posts') }}">Manage Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin_bp.manage_announcements') }}">Manage Announcements</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('admin_bp.edit_about')}}">Edit About Page</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('admin_bp.edit_settings')}}">Edit Site Settings</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.home') }}">Back to Home Page</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main Content Area -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="margin-top: 56px;">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %}
                <!-- Content will be injected here -->
                {% endblock %}
            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/filter_posts.js') }}"></script>
  </body>
  </html>
